
body{
 text-align: center; 
}
.choicebutton{
    height: 100px;
    width: 100px;
    border: none;
    margin: 4px;
    background-color: antiquewhite;
    border-radius: 25px;
    cursor: pointer;
}
.choiceImg{
    height: 75px;
}
